<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository Commits</title>
    <!--<script type="module" src="/static/js/tailwind.min.js"></script>-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/styles/materialize.min.css">
    <link rel="stylesheet" href="/static/styles/custom.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/static/js/materialize.min.js"></script>
    <!--<link href="https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">-->
    <script src="/static/js/moment.min.js"></script>
</head>
<body class="bg-gray-200">
    <div id="commits-list" class="container mx-auto mt-8"></div>

    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
